<?xml version="1.0" encoding="utf-8"?>

<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.applock">

    <!-- ================================================= -->
    <!-- PERMISSIONS -->
    <!-- ================================================= -->

    <!-- Show AppLock over other apps / Appear on top -->
    <uses-permission
        android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <!-- Get installed apps -->
    <uses-permission
        android:name="android.permission.QUERY_ALL_PACKAGES" />

    <!-- Biometric -->
    <uses-permission
        android:name="android.permission.USE_BIOMETRIC" />

    <!-- ================================================= -->
    <!-- GALLERY / MEDIA PERMISSIONS -->
    <!-- ================================================= -->

    <!-- Android 13+ : Read Images -->
    <uses-permission
        android:name="android.permission.READ_MEDIA_IMAGES" />

    <!-- Android 13+ : Read Videos -->
    <uses-permission
        android:name="android.permission.READ_MEDIA_VIDEO" />

    <!-- Android 12 and below -->
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />

    <!-- ================================================= -->
    <!-- APPLICATION -->
    <!-- ================================================= -->

    <application
        android:allowBackup="true"
        android:label="AppLock"
        android:theme="@style/Theme.AppLock">

        <!-- ================================================= -->
        <!-- MAIN ACTIVITY -->
        <!-- ================================================= -->

        <activity
            android:name=".MainActivity"
            android:exported="true">

            <intent-filter>

                <action
                    android:name="android.intent.action.MAIN" />

                <category
                    android:name="android.intent.category.LAUNCHER" />

            </intent-filter>

        </activity>

        <!-- ================================================= -->
        <!-- LOCK SCREEN -->
        <!-- ================================================= -->

        <activity
            android:name=".Design.screens.LockScreenActivity"
            android:exported="false"
            android:excludeFromRecents="true"
            android:launchMode="singleTask"
            android:noHistory="false"
            android:showWhenLocked="true"
            android:turnScreenOn="true" />

        <!-- ================================================= -->
        <!-- ACCESSIBILITY SERVICE -->
        <!-- ================================================= -->

        <service
            android:name=".service.AppLockService"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE"
            android:exported="false">

            <intent-filter>

                <action
                    android:name="android.accessibilityservice.AccessibilityService" />

            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility_service_config" />

        </service>
    </application>

</manifest>